<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
  <div class="bg-img">
<body>

<div class="container">
<nav class="navbar navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="dashboard">Swayam</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="dashboard">Home</a></li>
      <li>
        <a href='dashboard'><input  class="btn btn-primary btn-lg" type="submit" value="Market"></a>  
      </li>
      <li>
        <a href="ledger"><input class="btn btn-primary btn-lg" type="submit" value="Ledger"></a></li>
      <li><a><input class="btn btn-primary btn-lg" type="submit" value="Funds"></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span>Log Out</a></li>
    </ul>
  </div>
</nav>
 
</div>
</body>


<div>
  
<form class="form-large">
  
<div class="container-fluid">
  <ul class="nav navbar-nav navbar-center"><li style="color:white">
      Market:
    <select  name="market" style="color:black">
      <option>Select</option>
    <option value="NSE">NSE</option>
    <option value="TSE">TSE</option>
    <option value="LSE">LSE</option>
    <option value="BSE">BSE</option>
    </select></li>    

    </ul>
<br>
<br>


   Buy Quantity:    <input style="color:black" [disabled]="f" type="text" [(ngModel)]="trade.quantity" name="quantity" size='5' >
    <br>
    <br>

        <a><input  class="btn btn-primary btn-lg" (click)="getfriend()" type="submit" value="Buy"></a>  

</div>

</form>
 

</div>

