<video autoplay muted loop id="myVideo">
  <source src="src\assets\about us.mp4" type="video/mp4">
</video>

  <div class="container">
  
      <h1>About us</h1>
      <hr>
      <form> We help you buy, use and store your stocks securely.  We also provide helpful tools and real-time market price and chart information. Swayam is one of the most transformative technologies that stands firmly in support of financial freedom and the liberty that provides globally for anyone to buy or sell stocks automatically.

      </form>
  
</div>